* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: rgb(81, 54, 134);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: auto;
}

.main {
  padding: 50px;
}

.wrapper {
  max-width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
